
project/CloudGamingResearch.log
project/CloudGamingResearch.pdf
project/CloudGamingResearch.synctex.gz
project/CloudGamingResearch.aux
project/report_template_singleFile.log
project/report_template_singleFile.aux
project/report_template_singleFile.pdf
project/report_template_singleFile.synctex.gz
